<div class="top-main">
  <div class="top-message">
    <h2>hack4impact</h2>
    <div class="top-description">
      We build software for nonprofits. <a href="https://hack4impact.org">See more.</a>
    </div>
  </div>
</div>
