<div class="main user-show">
  <div class="user-profile" data-user-posts="<%= @user_posts %>">
    <div class="user">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <h2><%= @user.name %></h2>
    </div>
  </div>
</div>
